<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <script src="lib/js/jquery.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>

</head>
<body>
    <header class="navbar">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="SignOut" asp-controller="Account">Sign Out</a>
        }
        else
        {
            <a asp-action="Login" asp-controller="Account">Login</a>
        }
    </header>
<div class="container">
    @RenderBody()
</div>

@RenderSection("scripts")
</body>
</html>
