@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Roles";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Users</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IdentityRole role in Model)
                    {
                        <tr>
                            <th>@role.Id</th>
                            <th>@role.Name</th>
                            <th><a class="btn btn-primary" asp-controller="RoleAdmin" asp-action="Edit" asp-route-id="@role.Id">Edit</a></th>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="Create" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>
